.card-container{
    background-image: url("../Entre/baggrund.jpeg");
    opacity: 80%;
    margin: 35px;
    display: flex;
    height: 630px;
}

.flexbox-item{
    margin: 35px;
    opacity: 100%;
}
.flexbox-item-1{
   width: 50%;
}

.e1{
right: -100px;
top: 10px;
position: relative;
color: white;
}

.e2{
left: -300px;
top: 10px;
position: relative;
color: white;
    }

.p1{
right: -100px;
top: 10px;
width: 50%;
position: relative;
color: white;
font-weight: bold;
}

.p2{
left: -300px;
top: 10px;
position: relative;
color: white;
font-weight: bold;
}

.p3{
    left: 100px;
    top: -10px;
    position: relative;
    color: white;
    font-size: 10px;
    }

li{
right: -100px;
top: 10px;
width: 50%;
position: relative;
list-style: none;
color: white;
}

.li1{
    left: -300px;
    top: 10px;
    width: 50%;
    position: relative;
    list-style: none;
    color: white;
}


.button { 
background-color: black;
color: white;
font-size: 13px;
padding: 10px 25px;
display: inline-block;
position: relative;
right: -100px;
    } 

