/*Header*/
header {
    height: 50px;
    background-color: white;
    background-size: 100%;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    margin-top: 30px;
}

header .logo a {
background-image: url("logo/logo.jpg");
background-size: 200px;
background-repeat: no-repeat;
display: inline-block;
height: 60px;
position: relative;
text-indent: -9999999px;
top: -10px;
width: 200px;
}

