.vernertop{   
    height: 400px;  
    margin: 35px;  
    background-color: white;  
    background-image: url("../verner/Top.png");  
    background-size:100%;  
    background-repeat: no-repeat;  
    position: relative;  
    text-align: center;  
    color: white;  
    border: black; 
    border-style: solid;
    }  

    .bottom-right {  
    position: absolute;  
    bottom: 10px;  
    right: 35px;  
    font-size: 45px;  
    }  
 
    .dato{
    position: absolute;
    right:40px;
    top: 500px;
    font-size: 15px;
    }

    .card-container-1{
        display: flex;
    }

    .card-item-3{
        width: 50%;
        margin: 35px;
        margin-top: 10px;
    }

    .card-item-4{
        width: 50%;
        margin: 35px;
        background-image: url("../verner/Midten.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .card-item-5{
        position: absolute;
        left: 755px;
        top: 985px;
    }
    .v1{
        color: black;
        left: 1px;
        line-height: 25px;
    }

    .v2{
        line-height: 30px;
    }
      
      
      
      
        
    